.custom-primary{
    color: #5bccf6;
}
.bg-custom-secondary{
    background-color: #fcde67;
}
.bg-custom-primary{
    background-color: #5bccf6;
}
.custom-secondary{
    color: #fcde67;
}
.custom-text{
    color: #030e12;
}